/*h2{*/
/*    color: indianred;*/
/*}*/
h1{
    color: #f3971a;
    font-weight:bold;
}
h3{
    color: #f3971a;
}
h4{
    color: lightgrey;
}
h5{
    color: darkgray;
}
p{
    color: gray;
}
li{
    color: gray;
}
